/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*===============================================================
          Website Resets
==================================================================*/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

*::-moz-focus-inner {
	border: 0;
}

*:focus {
	outline: none;
}

/*===============================================================
          html, body, resets, and typography
==================================================================*/
:root {
	--clr-neutral-000: hsl(210, 0%, 98%);
	--clr-neutral-100: hsl(210, 0%, 88%);
	--clr-neutral-200: hsl(210, 0%, 78%);
	--clr-neutral-300: hsl(210, 0%, 68%);
	--clr-neutral-400: hsl(210, 0%, 58%);
	--clr-neutral-500: hsl(210, 0%, 48%);
	--clr-neutral-600: hsl(210, 0%, 38%);
	--clr-neutral-700: hsl(210, 0%, 28%);
	--clr-neutral-800: hsl(210, 0%, 18%);
	--clr-neutral-900: hsl(210, 0%, 10%);

	--clr-augmented-000: hsl(210, 12%, 98%);
	--clr-augmented-100: hsl(210, 12%, 88%);
	--clr-augmented-200: hsl(210, 12%, 78%);
	--clr-augmented-300: hsl(210, 15%, 68%);
	--clr-augmented-400: hsl(210, 15%, 58%);
	--clr-augmented-500: hsl(210, 15%, 48%);
	--clr-augmented-600: hsl(210, 15%, 38%);
	--clr-augmented-700: hsl(210, 20%, 28%);
	--clr-augmented-800: hsl(210, 25%, 18%);
	--clr-augmented-900: hsl(210, 30%, 10%);


	/* For browsers that support clamp  */
	@supports (font-size: clamp(1rem, 1vi, 1rem)) {
		:root {
			--ts-text-size-sm: clamp(0.8rem, 0.07vi + 0.79rem, 0.85rem);
			--ts-text-size-reg: clamp(1rem, 0.2vi + 0.96rem, 1.13rem);
			--ts-text-size-md: clamp(1.25rem, 0.39vi + 1.17rem, 1.5rem);
			--ts-text-size-lg: clamp(1.56rem, 0.68vi + 1.43rem, 1.99rem);
			--ts-text-size-xl: clamp(1.95rem, 1.11vi + 1.73rem, 2.65rem);
		}
	}
	/* For browsers that don't support clamp */
	@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
		:root {
			--ts-text-size-sm: 0.8rem;
			--ts-text-size-reg: 1rem;
			--ts-text-size-md: 1.25rem;
			--ts-text-size-lg: 1.56rem;
			--ts-text-size-xl: 1.95rem;
		}
		@media screen and (min-width: 1320px) {
			:root {
				--ts-text-size-sm: 0.85rem;
				--ts-text-size-reg: 1.13rem;
				--ts-text-size-md: 1.5rem;
				--ts-text-size-lg: 1.99rem;
				--ts-text-size-xl: 2.65rem;
			}
		}
	}

}
html {
	font-size: 100%;
	scroll-behavior: smooth;

}
@media screen and (max-width: 768px) {
	/*html {
		font-size: 83.33%;
	}*/
}
@media screen and (max-width: 500px){
	/*html {
		font-size: 70%;
	}*/
}


/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
	:root {
		--fs-font-size-sm: clamp(1rem, 0.05vi + 0.99rem, 1.03rem);
		--fs-font-size-reg: clamp(1.25rem, 0.2vi + 1.21rem, 1.38rem);
		--fs-font-size-md: clamp(1.56rem, 0.43vi + 1.48rem, 1.83rem);
		--fs-font-size-lg: clamp(1.95rem, 0.78vi + 1.8rem, 2.44rem);
		--fs-font-size-xl: clamp(2.44rem, 1.3vi + 2.18rem, 3.26rem);
	}
}
/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
	:root {
		--fs-font-size-sm: 1rem;
		--fs-font-size-reg: 1.25rem;
		--fs-font-size-md: 1.56rem;
		--fs-font-size-lg: 1.95rem;
		--fs-font-size-xl: 2.44rem;
	}
	@media screen and (min-width: 1320px) {
		:root {
			--fs-font-size-sm: 1.03rem;
			--fs-font-size-reg: 1.38rem;
			--fs-font-size-md: 1.83rem;
			--fs-font-size-lg: 2.44rem;
			--fs-font-size-xl: 3.26rem;
		}
	}
}

body {
	position: relative;
	min-width: 100vw;
	min-height: 100vh;
	z-index: 1;
	overflow-x: hidden;
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	font-family: 'Open Sans', sans-serif;
	font-optical-sizing: auto;
	/*font-size: var(--ts-text-size-reg);*/
	font-weight: 400;
	line-height: 1.5;
	color: var(--clr-augmented-900);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--clr-augmented-100);

}

p {
	margin-bottom: 1rem;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.3;
	text-rendering: optimizeLegibility;
}

h1 {
	margin-top: 0;
	font-size: 3.052rem;
}

h2 {
	font-size: 2.441rem;
	font-size: var(--fs-font-size-lg);
}

h3 {
	font-size: 1.953rem;
}

h4 {
	font-size: 1.563rem;
}

h5 {
	font-size: 1.25rem;
}


small, .text_small {
	font-size: 0.8rem;
	text-rendering: optimizeLegibility;
}

.heading-primary {
	margin-top: 0;
	font-size: 3.052rem;
}

.heading-secondary {
	font-size: 2.441rem;
}

.heading-tertiary {
	font-size: 1.953rem;
}

.paragraph {
	font-size: 1.6rem;

	&:not(:last-child) {
		margin-bottom: 3em;
	}
}

ul {
	list-style: none;

}

a {
	text-decoration: none !important;
}

img {
	width: 100%;
	height: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
	font-family: 'Open Sans', sans-serif;
}
/*===============================================================
          utility classes
==================================================================*/
.utils-container-fluid {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}

.utils-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}

@media (min-width: 576px) {
	.utils-container {
		max-width: 544px;
	}
}

@media (min-width: 768px) {
	.utils-container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.utils-container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.utils-container {
		max-width: 1144px;
	}
}

@media (min-width: 1400px) {
	.utils-container {
		max-width: 1320px;
	}
}

.utils-img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/*===============================================================
          scrollbar styles
==================================================================*/
/* width */
::-webkit-scrollbar {
	width: 3px;

}

/* track */
::-webkit-scrollbar-track {
	margin-left: 4px;
	-webkit-box-shadow: inset 0 0 5px #bfbfbf;
	box-shadow: inset 0 0 5px #bfbfbf;
	border-radius: 3px;

}

/* handle */
::-webkit-scrollbar-thumb {
	background: #d9d9d9;
	border-radius: 3px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #616161;
}


/*===============================================================
				about section
==================================================================*/
.about__section {
	position: relative;
	width: 100%;
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: auto 1fr;
	grid-template-rows: auto 1fr;
	padding-top: 2em;
	padding-bottom: 2em;

}

.about__section__title {
	position: relative;
	width: 100%;
	margin-top: 3em;
	margin-bottom: 2.5em;

}
.about__title {

	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}

.about__section__content {
	position: relative;
	min-height: fit-content();
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: .35fr .65fr;
	grid-template-columns: .35fr .65fr;
	-webkit-column-gap: 1.5rem;
	-moz-column-gap: 1.5rem;
	column-gap: 1.5rem;
}
@media screen and (max-width: 767px) {
	.about__section__content {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		row-gap: 1.5rem;
	}
}

.about__section--left {
	/*background-color: var(--clr-augmented-500);*/
	/*color: var(--clr-neutral-100);*/
	max-height: -webkit-fit-content;
	max-height: -moz-fit-content;
	max-height: fit-content;
	/*text-align: center;*/
}
.about__image {
	position: relative;
	display: block;
	width: 100%;
	/*max-width: 320px;*/

	background-color: var(--clr-augmented-300);

	border: 3px solid var(--clr-augmented-400);
	border-radius: 5px;
	-webkit-box-shadow: 5px 3px 21px -1px rgba(34, 40, 45, 0.15), 5px 3px 21px -1px rgba(34, 40, 45, 0.15);
	box-shadow: 5px 3px 21px -1px rgba(34, 40, 45, 0.15), 5px 3px 21px -1px rgba(34, 40, 45, 0.15);
}
.about__section--right {
	/*background-color: var(--clr-augmented-600);*/
	max-height: fit-content();
	color: var(--clr-augmented-900);
	text-align: center;
}

.about__info--text {
	font-size: 1.125rem;
	font-size: var(--ts-text-size-md);
	text-align: left;
	line-height: 1.5;
	letter-spacing: 1px;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
@media screen and (max-width: 1370px) {
	.about__info--text {
		font-size: 1rem;
	}
}

.about__section--links {
	position: relative;
	width: 100%;
	margin-top: .7em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
}

.about__section--link {
	position: relative;
	z-index: 1;
	min-width: 150px;
	max-width: 250px;
	display: block;
	padding: 1em 2em;
	vertical-align: middle;

	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--clr-augmented-600);

	background-color: transparent;
	border: 3px solid var(--clr-augmented-500);
	border-radius: 8px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-o-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
	-webkit-transition: border-color 0.4s, color 0.4s;

}
@media screen and (max-width: 767px) {
	.about__section--link {
		font-size: .775rem;
	}
}
@media screen and (max-width: 400px) {
	.about__section--link {
		font-size: .625rem;
	}
}
.about__section--link:not(:last-child) {
	margin-right: 1.5em;
}
.about__section--link::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--clr-augmented-500);
	z-index: -1;
	opacity: 0;
	border-radius: 5px;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, -webkit-transform 0.4s;
	-o-transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.about__section--link:hover,
.about__section--link:focus {
	color: var(--clr-augmented-000);
	border-color: var(--clr-augmented-500);
}
.about__section--link:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}